<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.summer.database.mapper.PlayerMapper">
    <select id="selectById" resultType="org.summer.database.entity.Player">
        select * from `player` where id = #{id}
    </select>

    <insert id="insert" parameterType="org.summer.database.entity.Player">
        insert into `player`(id, nickname) values(#{id}, #{nickname})
    </insert>
</mapper>
